@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



:root{
    --cor1: hsl(25, 97%, 53%);
    --cor2: hsl(0, 0%, 100%);
    --cor3: hsl(217, 12%, 63%);
    --cor4: hsl(216, 12%, 54%);
    --cor5: hsl(213, 19%, 18%);
    --cor6: hsl(216, 12%, 8%);
    --font1: 'Roboto', sans-serif;
    --font2: 'Open Sans', sans-serif;
}


body {
  background-color: var(--cor6);
}
  
main{
  margin: auto;
  margin-top: 160px;
}

section{
  background-color: var(--cor5);
  width: 600px;
  height: 490px;
  margin: auto;
  border-radius: 15px;
}
  
div#all {
  display: block;
  background-color: var(--cor5);
  width: 600px;
  height: 490px;
  margin: auto;
  border-radius: 15px;
}
  

div#content{
  margin: auto;
  padding: 20px;
  text-align: left;
  width: 340px;
  height: 245px;
}

 h1{
  color: var(--cor2);
  font-family: var(--font1);
}

 p{
  color: var(--cor3);
  font-family: var(--font2);
}

div#starimg{
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: var(--cor6);
  border-radius: 70px;
}

div#starimg > img{
  padding-top: 14px;
}

div#numbers{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.number{
  margin: 10px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: var(--cor3);
  background-color: var(--cor6);
  border-radius: 70px;
  cursor: pointer;
}

div.number:hover{
  background-color: var(--cor4);
  color: var(--cor2);
  transition: 0.4s;
}

div#butão > button{
  display: block;
  margin: auto;
  margin-top: 30px;
  
}

button{
  width: 353px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  border-style: none;
  background-color: var(--cor1);
}

button:hover{
  background-color: var(--cor2);
  color: var(--cor1);
  transition: 0.3s;
}


div#thanks{
  display: none;
  text-align: center;
  margin: 35px;
}

div#thanks > div#imgcel{
  padding: 20px;
  margin: 20px;
}

div#thanks > div#numberselection{
  margin: auto;
  width: 220px;
  height: 35px;
  background-color: hsl(213, 17%, 28%);
  color: var(--cor1);
  border-radius: 30px;
}

div#thanks > div#numberselection > p{
  color: var(--cor1);
  padding: 7px;
  text-align: center;
  margin: auto;
}

a{
  text-decoration: none;
  color: var(--cor1);
}

footer{
  text-align: center;
}

@media (max-width: 600px){

  section{
    margin: auto;
    width: 330px;
    height: 430px;
  }

  div#all{
    width: 330px;
    height: 430px;
  }

  div#content{
    width: 290px;
    height: 220px;
  }

  div.number{
    width: 50px;
    height: 50px;
  }

  button{
    width: 190px;
    height: 40px;
  }
}