@charset "UTF-8";

:root{
    --cor1: hsl(25, 97%, 53%);
    --cor2: hsl(0, 0%, 100%);
    --co3: hsl(217, 12%, 63%);
    --cor4: hsl(216, 12%, 54%);
    --cor5: hsl(213, 19%, 18%);
    --cor6: hsl(216, 12%, 8%);
}

/*
main{
    margin: auto;
    margin-top: -90px;
}

div#conteúdo{
    width: 600px;
    height: 550px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
}
*/

body {
  background-color: var(--cor6);
}
  
main{
  margin: auto;
  margin-top: 160px;
}
  
div#all {
  display: block;
  background-color: var(--cor2);
  width: 600px;
  height: 490px;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}
  

div#content{
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 340px;
  height: 310px;
}

div#numbers{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.number{
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 70px;
}